<!DOCTYPE html>
<html>
  <head>
    <title>EmojiTransfer</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.3.2/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/4.3.2/sweetalert2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">Emoji</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="#">How To</a>
        </li>
        <li class="nav-item">
          <%= link_to '<i class="fa fa-user"></i>'.html_safe, edit_registration_path(current_user), class: 'nav-link' if current_user %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' unless current_user %>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-10 offset-xs-1">
        <% if flash[:notice] %>
            <div class="alert alert-info"><%= notice %></div>
        <% elsif flash[:alert] %>
            <div class="alert alert-danger"><%= alert %></div>
        <% elsif flash[:success] %>
            <div class="alert alert-success"><%= flash[:success] %></div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
